:root {
  --dark: #21252B;
  --light: #E8F1FF;
  --white: #FAFAFA;
}

html, body {
  font-family: 'Inter', sans-serif;
}

body {
  background-color: var(--light);
  color: var(--dark);
  display: flex;
  flex-direction: column;
  min-height: 80vh;
}

header {
  align-self: flex-start;
}

main {
  margin: auto;
  display: none;
}

main#loading {
  display: block;
}

h1, h2 {
  font-weight: 400;
  text-align: center;
  padding: 0 16px;
}

a {
  color: var(--dark);
}

form {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: auto;
}

input {
  margin-bottom: 16px;
  background-color: var(--white);
  border-radius: 2px;
}

button {
  color: var(--light);
  background-color: var(--dark);
  cursor: pointer;
}

div#loadingSessions {
  display: flex;
  margin-top: 64px
}

div#loadingSessions > img {
  margin: auto;
  height: 48px;
}


div#data {
  display: none;
}