body {
  color: #222;
  display: flex;
  min-height: 80vh;
}

main,
form {
  width: 320px;
  margin: auto;
  padding: 0 8px 8px;
  background-color: #fafafa;
  border: 1px solid WindowFrame;
  border-radius: 2px;
}

h2 {
  text-align: center;
}

nav {
  display: flex;
  justify-content: flex-end;
}

a {
  color: #3570D0;
  text-decoration-line: none;
}

nav > a {
  padding: 0 6px;
  margin: 0 6px;
}

nav > a:last-child {
  margin-right: 0;
  padding-right: 0;
}

form {
  display: flex;
  flex-direction: column;
}

form > a {
  align-self: flex-end;
}

form > input {
  margin-bottom: 12px;
  background-color: #fff;
  border-radius: 2px;
}

button {
  cursor: pointer;
  background-color: #3570D0;
  color: #fafafa;
  font-weight: bold;
  border-radius: 2px;
}

#toast {
  margin: auto;
  position: fixed;
  top: 16px;
  right: -280px;
  opacity: 0;
  background-color: #D63D3F;
  color: #fff;
  padding: 8px 16px;
  user-select: none;
  border: 1px solid WindowFrame;
  border-radius: 2px;
  transition: right .5s cubic-bezier(0,1.6,.8,1), opacity 0.75s;
}

#toast.active {
  opacity: 1;
  right: 16px;
}